terraform/.terraform
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
*.retry
*.tfstate.backup
terraform/public_master_ip
terraform/public_worker_ip
terraform/private_master_ip
terraform/private_worker_ip